.loader-margin-action{
    margin: 0 auto;
    width: 60px;
    height:60px;
}

.autremotif{
        margin-top: 12px;
    border-radius: 5px;
    height: 36px;
    width: 100%;
    background: #f3f3f3;
    border: none;
    padding: 0 10px;
    color: #333;
}

.content{
    margin-top: 12px;
    border-radius: 5px;
    width: 100%;
}

.motif{
     background-color: #f3f3f3;;
    height: 35px;
    border: solid 1px #d7dfea;
    padding-left: 15px;
    font-style: italic;
    /*text-transform: uppercase;*/
    color: #9b9b9b;
    overflow: hidden;
    width: 100%;
    margin-top: 10px;
    margin-left: 0   !important;
    border-radius: 5px;
}