@import '../../../../styles.css';

@media only screen and (max-width: 1440px){
	.form.check_item .form_body{
		margin-top: 7%;
	}
	.form.check_item{
		font-size: 20px;
	}
	.form.check_item h1{
		padding: 20px 0 ;
	}

}