<div class = "container form authentification forgotpassword">
	<div class="container_wrapper" *ngIf="!authenticationApplicatifService.loggedIn()" >
		<div class="logo">
		  <img alt = "logo" src = "assets/img/logo/logo.png">
		</div>
		<p class="sloganLogo">{{'100 nuances de plaisirs' | translate}}</p>
		<h1>
			<span *ngIf="hasError && informationMessage && informationMessage.length > 0" class = "error">{{informationMessage}}</span>
			<span *ngIf="!hasError && informationMessage && informationMessage.length > 0" class = "info">{{informationMessage}}</span>

		</h1>
		<div class="form_body">
			<form [formGroup]="passwordForm">
				<div class="input-field">
					<md-input-container class="full-width">	  
                            <!-- style="text-transform: lowercase;"  emailToLowerCase();       (keyup)="uncapitalizeFirstLetter($event)"                -->
						<input  (blur)="blurPseudoMailExist();"   mdInput md-error #userpseudo id="userpseudo" class="" placeholder="Adresse email ou pseudo" formControlName="userpseudo">
						<!-- <control-messages [controlName]="controlName['userpseudo']" [control]="passwordForm.controls.userpseudo"></control-messages>                  				    -->
                    </md-input-container>                 
					<!--<div  class="errorfield" *ngIf="passwordForm.controls['userpseudo'].hasError('required') && passwordForm.controls['userpseudo'].touched">{{'reinitpassword' | translate}}</div>                    
					passwordForm.controls['userpseudo'].value.length !== 0 && 
                    <div class="errorfield" *ngIf=" !emailExist && !pseudoExist">Utilisateur non trouvé</div>-->
				</div>
                <div class = "button_wrapper" *ngIf ="!hasError && informationMessage && informationMessage.length > 0">
                    <button class="btn btn_connexion" (click)="onSubmit()" routerLinkActive="active">S'inscrire</button>
                    <button class="btn" type="submit" name="action" routerLink="/login" routerLinkActive="active">Se connecter</button>
                </div>
				<div class = "button_wrapper" *ngIf ="hasError || !informationMessage ">
					<button (click)="informationMessage = '';" [formGroup]="passwordForm" [disabled]="load" (click)="sendmail(userpseudo.value)" class="btn btn_connexion" type="submit" name="action">{{sendEmailMessage}}</button>
					<button (click)="informationMessage = '';" routerLink="/splashcreen" routerLinkActive="active" class="btn btn_cancel">{{'annuler'|translate}}</button>
				</div>
			</form>
		</div>
	</div>
</div>