<div class="container page cms splashcreen">
  <input id="slide-1-trigger" type="radio" name="slides" checked>
  <div class="section textPage" id="sct-one">
      <div class="section_wrapper">
          <div class="logo">
              <img alt="logo" src="assets/img/logo/logo.png">
          </div>
          <p>{{'100 nuances de plaisirs' | translate}}</p>
          <h1 class="title">Confidentialité</h1>
          <p class="text">
              {{'confidentiality' | translate}}
              <i class="rounds"></i>
          </p>
          <a class="contactUs1" (click)="goToSplashscreen()">{{'returnToHomePage'|translate}}</a>
      </div>
  </div>
</div>