@import '../header/header.component.css';

.ui-growl {
    position:fixed;
    bottom: 30% !important;
    left: calc(50% - 250px);
    width: 500px;
    z-index:9999;
    
}

.ui-growl-item-container {
    background-color: #0C0202 !important;
}
.ui-growl-item-container.ui-state-highlight.ui-growl-message-error {
  background-color: #650e0e !important;
  border-color: #650e0e !important; }


.test{
    height: 200px;
}

.hideContentTchat{
    opacity: 0 !important;
}

.fullwidth{
    width: 100% !important;
}

/* block contact */

.pageTitle h2 {
    color:#fff!important;
}
.tchat_container {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    overflow: hidden;
}
.loading-tchat.notFullWidth{
    width: calc(100% - 315px);
    float: left;
}
.loading-tchat img{
    width:70px;
    height:auto;
}
#mod-tchat {
    width: calc(100% - 315px);
    height:100%;
    margin:0 auto;
    padding:0;
    text-align: center;
    display: block;
    float: left;
}
#mod-tchat.tchatFullWidth{
    width: 100%;
    display: block;
    position: relative;
}
#mod-tchat.heightAuto{
    height: auto !important;
}
#mod-tchat .pageTitle{
    width: -webkit-calc(100% - 15px);
    width: -moz-calc(100% - 15px);
    width: -ms-calc(100% - 15px);
    width: -o-calc(100% - 15px);
    width: calc(100% - 15px);
    margin: 0 0 0 15px;
}
#mod-tchat .pageTitle h2{
    font-size: 30px;
}
#mod-tchat.tchatFullWidth .pageTitle{
    display: none;
}
#mod-tchat .top-message{
    padding-top: 15px;
    background: #141414;
    width: 100%;
    margin: 0 auto;
}
.tchat-input-icons input {
    border:none;
}
.tchat-input-icons {
    width:90%;
    height: auto;
    padding:0;
    text-align: center;
    position: relative;
    max-width: 300px;
    margin: 0 0 0 30px;
}
input.usr-search {
    width:100%;
    height:30px;
    background:#fff;
    border-radius:15px;
    margin-bottom: 20px;
    border:0px;
    padding-left: 10px;
    font-weight: 600;
    font-size: 16.2px!important;
    font-family: 'gothambook'!important;
    color:rgba(47, 47, 47, 0.72);
}
span.input-icons { 
    position: absolute;
    top: 6px;
    right: 7px;
}
.block-contacts {
    width: 43%; 
    padding:0 5px;
    margin-right: 5px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 0;
    max-width: 380px;
}
.tchatFullWidth .block-contacts{
    float: left;
    width: 44%;
    padding: 0;
    margin-right: 0;
    overflow-y: hidden;
    background: #141414;
}
.block-contacts.contacts-without-chat > ul{
    height: inherit !important;
}
.block-contacts ul {
    width: 100%;
    /*min-height: 280px;*/  
    padding: 0;
    color:#fff;
}
.tchatFullWidth .block-contacts ul{
    overflow-y:auto; 
    margin-bottom: 0;
}
.block-contacts ul li {
    padding: 15px 5px;
    border-bottom: 1px solid #616161;
}
.block-contacts ul li.active {
    background:#000;
}

.block-contacts .tape-user a img{
    display: block;
}
.contacts li {
    line-height: 25px;
    border-top: 1px solid gray;
    padding-left: 5px;
}
/*Début without tchat*/
.block-contacts.contacts-without-chat{
    width: 100%;
    overflow-y: hidden;
    height: auto;
    max-width: inherit;
    padding: 0 0 0 15px;
}
.block-contacts.contacts-without-chat ul li{
    padding: 15px 3%;
    border: none;
}
.block-contacts.contacts-without-chat ul li:nth-child(even) {
    background: #141414;
}
.block-contacts.contacts-without-chat ul li:nth-child(odd) {
    background: #000000;
}
.block-contacts .tape-user {
    width: 100px;
    margin-right: 10px;
}
.block-contacts .tape-user a,
.block-contacts li .tape-user a ,
.block-contacts.contacts-without-chat .tape-user a {
    position: relative;
    display: block;
    width: 100%;
    height: 90px;
    overflow: hidden;
    border-radius: 12px;
    margin: 0 auto;
    overflow: hidden;
    transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
}

.block-contacts.contacts-with-chat .tape-user  {
    width: 60px;
    margin-right: 10px;
}
.block-contacts.contacts-with-chat li .tape-user a ,
.block-contacts.contacts-with-chat .tape-user a {
    width: 100% !important;
    height: 55px !important;
    border-radius: 8px;
    margin: 0 auto;
    overflow: hidden;
    transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    position: relative;
}
.block-contacts  li .tape-user a > img,
.block-contacts.contacts-without-chat .tape-user a > img{
    max-width: 100% !important;
    height: auto;
    position: absolute;
    top: 50%;
    left:50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);


}
.block-contacts.contacts-without-chat .tape-user a span.user-status{
    position: absolute;
    top: 3px;
    right: 4px;
    bottom: inherit;
}
.block-contacts.contacts-without-chat .encadr-msm{
    margin-left: 3%;
    padding: 10px 15px;
    background: #fff;
    border-radius: 10px;
    width: -webkit-calc(100% - 110px);
    width: -moz-calc(100% - 110px);
    width: -ms-calc(100% - 110px);
    width: -o-calc(100% - 110px);
    width: calc(100% - 110px);
}
.block-contacts.contacts-without-chat .encadr-msm .tchat-name{
    color: #000000;
    font-size: 18.2px;
    font-weight: bold;
    text-align: left;
}
.block-contacts.contacts-without-chat .encadr-msm .tchat-clock-rule{
    text-align: left;
    font-weight: normal;
    float: right;
    width: 25%;
    padding-left: 0;
    color: #616161;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.block-contacts.contacts-without-chat .encadr-msm .tchat-clock-rule img{
    position:relative;
    top:2px;
    vertical-align: inherit;
}
.block-contacts.contacts-without-chat .profil-tchat{
    padding-top: 5px;
}
.block-contacts.contacts-without-chat .profil-tchat label.profil-txt{
    position: static;
    color: rgba(0, 0, 0, 0.88);
    font-weight: normal;
    max-height: 40px;
}
.block-contacts.contacts-without-chat .encadr-msm .edit-user{
    padding-top: 0;
}
/*Fin without tchat*/
.thumb {
    display: flex;
}

.encadr-msm {
    width: 100%;
    min-height: 100%;
    padding-left: 5px;
}


span.user-status {
    position: absolute;
    bottom: 5px;
    right: 2px;
}
.block-contacts.contacts-with-chat label.tchat-clock-rule {
    text-align: left;
    color: #616161;
    width: 50%;
    display: inline-block;
    vertical-align: middle;
    padding-left: 10px;
    line-height: 120%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute;
    top: 0;
    right: 5px;
}
.block-contacts.contacts-with-chat label.tchat-clock-rule img{
    position: relative;
    top: 2px;
}
.edit-user {
    width:100%;
    padding-top:5px;
    position: relative;
}
label.tchat-name {
    max-width: 48%;
    float: left;
    text-align: left;
    font-size: 14.6px!important;
    font-weight: 600;
    font-family: 'gothambook'!important;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: auto;
}
.profil-tchat {
    width:100%;
    display: flex;
    position:relative;
}
label.profil-txt {
    position: relative;
    left: 0 ;
    top: 15px;
    font-size: 14.6px!important;
    font-family: 'gothambook'!important;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    clear: both;
    width: 95%;
    text-align: left;
}
.unread-notif {
    z-index: 0;
    float: left;
}
label.read-motif {
    font-weight: 400;
    color:#fff;
    top: 50%;
    right: 0;
    font-family: 'gothambook';
    font-size: 15.9px;
    text-align: center;
    color: #ffffff;
    background: #ff0000;
    width: 23px;
    height: 23px;
    display: inline-block;
    border-radius: 50%;
    margin-top: -11px;
    line-height: 23px;
    margin-left: 7px;
}
span.pix-read {
    position: absolute;
    top: -4px;
    left: -4px;
    z-index: -1;
}
/* block contact :end */

/* block tchat */
.block-tchat {
    width:56%;
    display: block;
    margin-top: 5px;
    /*overflow-y: scroll;*/
    overflow-y: hidden;
    overflow-x: hidden;
    float: right;
    position: relative;
    /*padding-bottom: 90px;*/
    box-sizing: content-box;
}
.mess-tchat {
    width:100%; 
    height: 1050px;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
}

li {
    cursor: pointer;
}
.selected-contact {
    /*background-color: grey;*/
    background-color: #000000;
}
.message {
    width: 70%; 
    padding: 10px; 
    border-radius: 10px;
    color:#000;
    background-color: #fff;
    margin: 5px;
    opacity: 1;
    position: relative;
}
.pending-message {
    opacity: 0.2;
}
.sent-message {
    opacity: 1;
}
/*.received-message {
    width: 75%;
    min-height: 100px;
    background-color: #650e0e;
    color: #fff;
    border-radius: 10px;
    margin-bottom: 20px;
}*/
.received-message{
    min-height: 80px;
    background-color: #650e0e;
    color: #fff;
    border-radius: 10px;
    margin-bottom: 20px;
    clear: both;
    padding: 20px;
    width: auto;
    min-width: 200px;
    display: block;
    float: left;
    max-width: 90%;
}
/*.others-message {
    width: 89%;
    min-height: 100px;
    background-color: #fff;
    color: #000;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: 67px;
}*/
.others-message{
    min-height: 80px;
    background-color: #fff;
    color: #000;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-right: 20px;
    clear: both;
    float: right;
    padding: 20px;
    min-width: 200px;
    width: auto;
}
span.side-triangle {
    width:24px;
    height:24px;
    position:absolute;
    left: 0 ;
    top: 90%;
}
span.sent {
    width:24px;
    height:24px;
    position:absolute;
    /*top: 90px;*/
    top: 90%;
    right: 0 ;
}
.tchat-indic {
    width: 100%; 
    /*height: 12%;*/
    height: 15px; 
    text-align: right;
    position: relative;
}
img.type-img {
    width: auto;
    height: auto;
    padding-right: 16px;
    position: absolute;
    left: -20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    max-width: 140px;
}
.block-send {
    width:56%;
    height: auto;
    margin: 0 auto;
    padding: 25px;
    display: flex;
    background: #000;
    position: absolute;
    bottom: 0;
    right: 0;
}
.block-send.contacts-with-chat {
    display: flex;
}
.block-send.contacts-without-chat {
display: none !important;
}
@media screen and (min-width: 1500px) {
    .block-tchat,
    .block-send {
        width: -webkit-calc(100% - 380px);
        width: -moz-calc(100% - 380px);
        width: -o-calc(100% - 380px);
        width: calc(100% - 380px);
    }
}
@media screen and (max-width: 1024px) {
    .block-tchat,
    .block-send {
        width: 100%;
    }
}

.mess-tchat span.mess-tchat-Lft {
    width:100%;
    height: auto;
    float: left;
}

.mess-tchat span.mess-tchat-Rgt {
    width:100%;
    height: auto;
    float: left;
}

.area-tchat {
    width: 80%;
    height: 100%;
    color: #000;
    padding-top: 5px;
    padding-right: 20px;
}

input.hip-tchat {
    width:100%;
    height: 35px;
    padding:2px 10px;
    border-radius: 10px;
    background:#fff; 
} 

.tab-tchat-btn {
    width: 30%; 
    height: 35px;
    border-radius:10px;
    background:#650e0e;
    margin-top: 20px;
    max-width: 150px;
}
/*.tab-tchat-btn,*/
.tab-tchat-btn a{
    width: 100%;
    height: 100%;
    display: block;
}
.tab-tchat-btn a {
    color: #ffffff;
    text-align: center;
    padding-top: 10px;
}
span.mess-tchat-Bd {
    float: left;
    font-weight: 700;
    text-align: left;
    display: block;
    width: 100%;
}
.others-message > span.mess-tchat-right {
    float: right;
    font-weight: 700;
    text-align: justify;
}
span.mess-tchat-time {
    float: right;
    font-size: 14px;
    text-align: right;
    padding-top: 30px;
}

.others-message > span.mess-tchat-rgt {
    font-size: 12px;
    position: static;
    top: 30px;
    right: 11px;
    text-align: right;
    padding-left: 0px;
    padding-top: 10px;
    display: block;
    width: 100%;
    clear: both;
}
/* block tchat :end */

/*Bouton  Chat options */
.MenuBtns {
    width: 50px;
    height: 35px;
    margin-top: 12px;
    position: relative;
}
.MenuBtns a {
    color:#ffffff;
    text-decoration: none;
    font-size: 30px;
    line-height: 10px;
    display: block;
}

.MenuBtns a {
    color:#fff;
    line-height: 35px;
    text-decoration: none;
    line-height: inherit;
}

.MenuBtns .row-menuProfil {
    position: absolute;
    bottom: 100%;
    left: 0;
    z-index: 1000;
    border-radius: 10px;
    background-color: #1f1f1f;
    box-shadow: 3px 3px 6px 0 #000000;
}
.MenuBtns .row-menuProfil:before   {
    content: '';
    position: absolute;
    left: 15px;
    bottom: -10px;
    z-index: 10;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #1f1f1f;
}
.MenuBtns .row-menuProfil ul {
    margin: 0;
    padding: 0;
}
.MenuBtns .row-menuProfil ul li {
    padding: 15px 30px;
    text-align: left;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.61);
}
.MenuBtns .row-menuProfil ul li:last-child {
    border-bottom: none;
}
.MenuBtns .row-menuProfil ul li,
.MenuBtns .row-menuProfil ul li a {
    display: block;
    white-space: nowrap;
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    text-align: left;
}
/*Bouton  Chat options */

/*Début bouton envoyer*/
.block-contacts.contacts-with-chat .MenuBtns{
    margin-top: 0;
}
.block-contacts.contacts-with-chat .area-tchat{
    padding-top: 5px;
}
.block-contacts.contacts-with-chat .tab-tchat-btn{
    margin-top: 5px;
}
/*Fin bouton envoyer*/
/*Début loading*/
.loading-tchat{
    text-align: center;
}
/*Fin loading*/
/* RESPONSIVE DESKTOP chat.component */
@media only screen and (max-width :1685px) {
    label.tchat-clock-rule {
    display:block;
    }
}

@media screen and (max-width :1370px) {
    #mod-tchat,npm start
    .loading-tchat.notFullWidth{
        width: calc(100% - 175px);
    }
    .block-contacts.contacts-with-chat label.tchat-clock-rule{
        display: none;
    }
    .block-contacts.contacts-with-chat label.tchat-name{
        width: 90%;
    }
}

@media only screen and (max-width :1285px) {
    
}
@media only screen and (max-width:1200px){
    #mod-tchat,
    .loading-tchat.notFullWidth{
        width: 100%;
    }
}
/* RESPONSIVE MOBILE */
@media only screen and (max-width: 1024px){
    .block-contacts{
        display: none;
    }
    .block-contacts.contacts-without-chat{
        display: block;
    }
    .block-tchat{
        /*width: 96%;*/
        /*margin-left:2%;*/
        /*margin-right:2%; */
        width: 100%;
        margin: 0;
    }
    .mess-tchat{
        width: 90%;
        margin: auto;
    }
    .block-contacts.contacts-without-chat{
        padding: 0 ;
    }
    #mod-tchat .pageTitle{
        width:100%;
        margin: 0;
    }
      #mod-tchat.tchatFullWidth .area-tchat {
        width: 90%;
    }
    #mod-tchat.tchatFullWidth .tab-tchat-btn {
        width: 35px;
        height: 35px;
    }
    #mod-tchat.tchatFullWidth .tab-tchat-btn a{
       font-size: 0;
        display: block;
        transform: rotate(60deg);
        -moz-transform: rotate(60deg);
        -webkit-transform: rotate(60deg);
        transform-origin: 17px 17px;
        -moz-transform-origin: 17px 17px;
        -webkit-transform-origin: 17px 17px;

    }
    #mod-tchat.tchatFullWidth .tab-tchat-btn a:before{
       font-size: 16px;
        font-family: 'fontawesome';
        content: '\f1d8';
    }
}

@media only screen and (max-width: 768px){
    
}

@media only screen and (max-width: 641px){
    
}
@media only screen and (max-width:480px){
    .block-contacts.contacts-without-chat{
        zoom:80%;
    }
    .block-contacts.contacts-without-chat .encadr-msm .tchat-clock-rule{
        width: 40%;
    }
    .block-send {
        display: block;
        /*position: relative;*/
        padding: 10px;
        box-sizing: border-box;
    }
    #mod-tchat.tchatFullWidth{
        /*margin-bottom: 80px;*/
    }
    #mod-tchat.tchatFullWidth .area-tchat {
        width: 70%;
    }
    #mod-tchat.tchatFullWidth .tab-tchat-btn {
        width: 35px;
        height: 35px;
    }
    #mod-tchat.tchatFullWidth .tab-tchat-btn a{
       font-size: 0;
        display: block;
        transform: rotate(60deg);
        -moz-transform: rotate(60deg);
        -webkit-transform: rotate(60deg);
        transform-origin: 17px 17px;
        -moz-transform-origin: 17px 17px;
        -webkit-transform-origin: 17px 17px;

    }
    #mod-tchat.tchatFullWidth .tab-tchat-btn a:before{
       font-size: 16px;
        font-family: 'fontawesome';
        content: '\f1d8';

    }
}

