 <p-growl [(value)]="msgs"></p-growl>
<div class="col-lg-10 main-chart">
    <div class="pageTitle extend">
        <a (click)="back()" class="back-link"></a>
        <h2>{{'Blacklist' | translate}} </h2>
    </div>

    <!-- CONTENT MIDDLE 1  -->
    <div class="listItems">
        <md-progress-spinner *ngIf="loading" class="loader-margin-action" color="warn" mode="indeterminate">
        </md-progress-spinner>  
       
        <div class="gridBlocks" *ngFor="let home of blacklist">
            <app-user-card [showTchatAndFavoris]="false" [user]="home"></app-user-card>
        </div>

        <div *ngIf="!blacklist || (blacklist &&  blacklist.length === 0) && error.length===0" class="emptyblacklist">
            {{'Blacklist vide' | translate}}
        </div>
         <div *ngIf="error.length!==0" class="emptyblacklist">
            {{error}}
        </div>
    </div>
    <!-- MIDDLE pagination -->
    <div class="CT-pag-nav">
        <div *ngIf="pager.pages && pager.pages.length  && pager.pages.length !== 1" class="pagination clearfix">
            <a *ngIf="pager.currentPage > 1" [ngClass]="{disabled:pager.currentPage === 1}" (click)="setPage(pager.currentPage - 1)"><img src="assets/img/left-arrow-blk.png"  align=""></a>
            <span *ngFor="let page of pager.pages"><a  [ngClass]="{active:pager.currentPage === page}" (click)="setPage(page)" >{{page}}</a></span>
            <a *ngIf="pager.currentPage!==pager.totalPages" [ngClass]="{disabled:pager.currentPage === pager.totalPages}" (click)="setPage(pager.currentPage + 1)"><img src="assets/img/right-arrow-blk.png" align=""></a>
        </div>
    </div>
    <!-- MIDDLE pagination end -->
    <div class="clearfix"></div>



</div>
<!-- col-lg-10 main-chart end -->