<div class="container page cms splashcreen">
    <input id="slide-1-trigger" type="radio" name="slides" checked>
    <div class="section textPage" id="sct-one">
        <div class="section_wrapper">
            <div class="logo">
                <img alt="logo" src="assets/img/logo/logo.png">
            </div>
            <p>{{'100 nuances de plaisirs' | translate}}</p>            
            <h1 class="title">{{'personalData' | translate}}</h1>
            <h1><p class="title"><span class="ligne">{{'titreDonnePersonnel' | translate}}</span></p></h1>
            <p class="text"><span class="ligne">{{'DpQuestCokie' | translate}}</span> <br> {{'DpQuestCokieContenu' | translate}}</p>  
            <p class="text">{{'DpQuestCokieDomi' | translate}} </p>  
            <p class="text">{{'DpQuestCokieDomiContenu1' | translate}}<br>
                {{'DpQuestCokieDomiContenu2' | translate}} <br>
                {{'DpQuestCokieDomiContenu3' | translate}}<br>
                {{'DpQuestCokieDomiContenu4' | translate}} <br>
                {{'DpQuestCokieDomiContenu5' | translate}} <br>
                {{'DpQuestCokieDomiContenu6' | translate}} <br>
                {{'DpQuestCokieDomiContenu7' | translate}}<br> 
                {{'DpQuestCokieDomiContenu8' | translate}}<br>
                {{'DpQuestCokieDomiContenu9' | translate}}
            </p>  
            <p class="text"><span class="ligne">{{'questionEnregCokie' | translate}} </span></p>  
            <p class="text">{{'questionEnregCokieContenu' | translate}} </p>  
            <p class="text">{{'questionEnregCokieContenu1' | translate}} </p>  
            <p class="text">{{'questionEnregCokieContenu1.1' | translate}}<br>
                            {{'questionEnregCokieContenu1.2' | translate}}<br>
                            {{'questionEnregCokieContenu1.3' | translate}}
            </p> 
            <p class="text">{{'questionEnregCokieContenu2' | translate}} </p> 
            <p class="text">{{'questionEnregCokieContenu2.1' | translate}}<br>
                            {{'questionEnregCokieContenu2.2' | translate}}<br>
                            {{'questionEnregCokieContenu2.3' | translate}} 
            </p> 
            <p class="text">{{'questionEnregCokieContenu3' | translate}} </p> 
            <p class="text">{{'questionEnregCokieContenu3.1' | translate}}<br>
                            {{'questionEnregCokieContenu3.2' | translate}}<br>
                            {{'questionEnregCokieContenu3.3' | translate}} 
            </p> 
            <p class="text">{{'questionEnregCokieContenu4' | translate}} </p>
            <p class="text">{{'questionEnregCokieContenu4.1' | translate}}<br>
                            {{'questionEnregCokieContenu4.2' | translate}}<br>
                            {{'questionEnregCokieContenu4.3' | translate}} 
            </p> 
            <i class="rounds"></i>
            <a class="contactUs1" (click)="goToSplashscreen()">{{'returnToHomePage'|translate}}</a>
        </div>
    </div>