<div class="container page cms splashcreen">
    <input id="slide-1-trigger" type="radio" name="slides" checked>
    <div class="section textPage" id="sct-one">
        <div class="section_wrapper">
            <div class="logo">
                <img alt="logo" src="assets/img/logo/logo.png">
            </div>
            <p>{{'100 nuances de plaisirs' | translate}}</p>            
            <h1 class="title">{{'titlementionlegale' | translate}}</h1>
            <p class="text"><span class="ligne">{{'MLinfogenerale' | translate }}</span><br>{{'MLinfogeneraleContenu' | translate }}</p> 
            <p class="text"><span class="ligne">{{'MLediterSite' | translate }}</span><br>{{'MLediterSiteContenu' | translate }}<br>
                {{'MLsiegesocial' | translate }} : {{'MLsiegesocialContenu' | translate }}<br>
                {{'MLSiren' | translate }}: {{'MLSirenContenu' | translate }}<br>
                {{'MLSiret' | translate }}: {{'MLSiretContenu' | translate }}<br>
                {{'MLTva' | translate }} : {{'MLTvaContenu' | translate }}<br>
                {{'MLrepresLegal' | translate }}: {{'MLrepresLegalContenu' | translate }}<br>
                {{'MLTel' | translate }} : {{'MLTelContenu' | translate }}<br>
                {{'MLcontact' | translate }} : {{'MLcontactContenu' | translate }}
            </p>      
            <p class="text"><span class="ligne">{{'MLPresidPublic' | translate }}</span>: {{'MLPresidPublicContenu' | translate }} </p>    
            <p class="text"><span class="ligne">{{'MLHeberSite' | translate }}</span><br><span class="hebergement">{{'MLHeberSiteContenu' | translate }}</span></p>       
            <p class="text"><span class="ligne">{{'MLCopyright' | translate }}</span><br>{{'MLCopyrightContenu' | translate }} </p>     
            <p class="text"><span class="ligne">{{'MLRefCNIL' | translate }}</span></p>         
            <p class="text">{{'MLNumCNIL' | translate }} : {{'MLNumCNILContenu' | translate }} <br>
                {{'MLNomDomaine' | translate }} : {{'MLNomDomaineContenu' | translate }}
            </p>    
            <p class="text">{{'CNILContenu' | translate }} </p>           
            <i class="rounds"></i>
            <a class="contactUs1" (click)="goToSplashscreen()">{{'returnToHomePage'|translate}}</a>
        </div>
    </div>
</div>