
<div id="content" #content [style.height.px]="100" class = "container form check_item">
	<div class = "container_wrapper">
		<div class="logo">
		  <img alt = "logo" src = "assets/img/logo/logo_small.png">
		</div>
		<p class="sloganLogo">{{'100 nuances de plaisirs' | translate}}</p>
		<div class = "form_body">			
			<h1>
                Votre statut
				<span *ngIf="submitted" class = "error">{{errorMessage}}</span>
			</h1>
			<ul class = "item_list Status TwooColumnList" [ngClass]="{'Statuscouple': isCouple, 'Statussingle': !isCouple}">
				<li *ngFor="let statut of statuts" [class.selected]="statut === selectedstatut" class="" (click)="onSelect(statut)">
					{{statut.label}}
				</li>
			</ul>
						
			<div class = "button_wrapper">				
				<div class = "left">
					<button class = "btn btn_cancel" routerLink="/inscription/Vousetes" routerLinkActive="active">Cancel</button>
				</div>
				<div class = "right">
					<!--<button class = "btn btn_done" [disabled]="selectedstatut == null" [routerLink]="['/inscription/orientation']" routerLinkActive="active">Done</button>-->
					<button class = "btn btn_done" (click)="onSubmit()">Done</button>
				</div>
			</div>
		</div>
	</div>
</div>