<!-- <section class="content" style="height:100%;">     
    <button [disabled]="!activeImport" (click)="add()">Ajout</button>
    <button (click)="incoheranceNbPhoto()">incoheranceNbPhoto</button>
    <button [disabled]="!activeImport" (click)="updateAfterAdd()">Modification</button>
    <button [disabled]="!activeImport" (click)="updateUserNotFound()">Modification (user non trouvés)</button><br/><br/>

    <input type="text" name="urlWs" [(ngModel)]="urlWs">
    <button (click)="sendGetRequest()">Envoyer</button>
    
  
</section> -->