<div class = "container form authentification forgotpassword" >
  <div class = "container_wrapper">
		<h1>
			<span class = "info">en attente verification</span>			
		</h1>
		<!--<div *ngIf="informationMessage && informationMessage.length >0">{{informationMessage}}</div>
		<div class = "form_body" *ngIf="!isSubmited">
			<form [formGroup]="renderMailForm">
				<div class="input-field">				
						<md-input-container class="full-width">				
							<input mdInput md-error #code id="code" class="" placeholder="code">
							<control-messages [controlName]="controlName['code']" [control]="renderMailForm.controls.code"></control-messages>                 				   
						</md-input-container>
				</div>
				<div class = "button_wrapper">				
					<button  [formGroup]="renderMailForm" (click)="confirmmail(code.value)" class="btn btn_connexion">valider</button>
				</div>
			</form>
		</div>-->

	</div>
	
</div>
