.modal-content {
        background: #424242;
        border-radius: 5px;
}

.modal-title {
    color: #fff !important;
}

.modal-body{
    color: #fff;
}

.modal-header{
    background: #000;
    padding-top: 16px;
    padding-bottom: 40px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color:#ffffff;
}
.modal-header h2{
    color: #ffffff;
}

.modal-footer {
    background: #000;
    padding-top: 16px;
    padding-bottom: 8px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.fade {
    opacity: 1;
}

