button.btn{
    width: 100%;
    font-size: 19px;
    color: #fff;
    background-color: transparent !important;
    border: none;
    cursor: pointer;
    padding: 13px 0 12px;
    border-radius: 5px;
}
.errormessage{
  color: #ff0101;
    text-align: right;
    font-style: italic;
    font-size: 16px;
    margin-top: -20px;
}
.button_wrapper{
	padding-top: 5%;
}

button.btn.btn_connexion{
    background-color: #0e0e0e !important;
    font-size: 23px;
    margin-bottom: 0;
}
.container.authentification.forgotpassword .form_body{
	padding-top: 92px;
}
.clear_field button.btn{	
    font-size: 0 ;
	padding: 0 ;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
    opacity: 0.5;
}

@media only screen and (max-width: 1440px){

    /*.logo img {
        width: 60%;
    }*/
    .form{
        font-size: 24.4px;
    }    
    .form .container_wrapper{
		top: 5%;	
	}
    .form .container_wrapper{
        max-width: 466px;
    }
    .authentification .button_wrapper{
        padding-top:10px;
        position: static;
        margin: 0  auto;
    }
    .container.authentification.forgotpassword .form_body{
        padding-top: 50px;
    }
}
@media only screen and (max-width: 640px){
    .container.authentification.forgotpassword .form_body{
        padding-top: 10px;
    }
    .errormessage{
        font-size: 13px;
    }
}
