<div class = "container form authentification forgotpassword resetPAss" >
  <div class = "container_wrapper">
		<div class="logo">
		  <img alt = "logo" src = "assets/img/logo/logo.png">
		</div>
	  	<p class="sloganLogo">{{'100 nuances de plaisirs' | translate}}</p>
		<h1>
			<span class = "info"> Réinitialisation de votre mot de passe.</span>
		</h1>
		<div class = "form_body captcha">
			<form [formGroup]="renderMailForm">				
				<div class="input-field">
					<md-input-container   class="full-width">				
						<input (blur)="verifyConfirmPassword()" mdInput md-error #password id="password" class=""  type="password"  placeholder="Mot de passe" formControlName="password">						
					</md-input-container>
                    <div class="errormessage" >
                        <control-messages [controlName]="controlName['password']" [control]="renderMailForm.controls.password"></control-messages>                  				                           
                    </div>
					<div class = "clear_field">
						<button class = "btn btn_clear" (click)="password.value = '';disableInputValidation()">clear</button>
					</div>
				</div>
				<div class="input-field">
					<md-input-container class="full-width">				
						<input (blur)="verifyConfirmPassword(true)" mdInput md-error #confirmPassword id="confirmPassword"  type="password"   placeholder="Confirmation mot de passe" formControlName="confirmPassword">
                       				
					</md-input-container> 
                     <!--<control-messages class="errormessage" [controlName]="controlName['confirmPassword']" [control]="renderMailForm.controls.confirmPassword"></control-messages>	-->
                    <div  *ngIf="errorconfirmPassword.length !== 0" class="errormessage" >
                        <span  class = "error">{{errorconfirmPassword}}</span>			
					</div>
					<div class = "clear_field">
						<button class = "btn btn_clear" (click)="confirmPassword.value = '';disableInputValidation(true)">clear</button>
					</div>
				</div>
				<div class="input-field captcha">
					<re-captcha site_key="{{captchaKey}}" (captchaResponse)="handleCorrectCaptcha($event)"></re-captcha>
				</div>				
				<div class = "button_wrapper">				
					<button *ngIf="isValideCpatcha" [formGroup]="renderMailForm" (click)="resetPassword(password.value, confirmPassword.value)" class="btn btn_connexion">Valider</button>
					<h1>
						<span *ngIf="submitted && errorMessage && errorMessage.length > 0" class = "error">{{errorMessage}}</span>			
					</h1>
				</div>
			</form>
		</div>
	</div>
	
</div>