<section class="content" style="height:100%;">
    <div class="loading-admin" *ngIf="loading">
        <app-loader [load]="loading"></app-loader>
    </div>
    <div class="card">
        <div class="card-header">
            <h2 class="card-title titre">Abonnés</h2>
            <small class="card-subtitle">Liste des abonnés</small>
        </div>
        <div class="card-block">
            <div id="tableListe">
                <ng-table
                    [config]="config"
                    (tableChanged)="onChangeTable(config)"
                    (cellClicked)="onCellClick($event)"
                    [rows]="rows"
                    [columns]="columns">
                </ng-table>
                <div *ngIf="getEmptyMessage().length !== 0 && !loading">
                    {{getEmptyMessage()}}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <pagination *ngIf="config.paging"
                                class="pagination-sm"
                                [(ngModel)]="page"
                                [totalItems]="length"
                                [itemsPerPage]="itemsPerPage"
                                [maxSize]="maxSize"
                                [boundaryLinks]="true"
                                [rotate]="false"
                                (pageChanged)="onChangeTable(config, $event)"
                                (numPages)="numPages = $event">
                    </pagination>
                </div>
                <div class="col-sm-6">
                    <div class="pagination justify-content-end">
                        <label for="">Afficher par page :</label>
                        <button type="button" class="btn btn-success" (click)="changeItemsPerPage(20)">20</button>
                        <button type="button" class="btn btn-success" (click)="changeItemsPerPage(25)">25</button>
                        <button type="button" class="btn btn-success" (click)="changeItemsPerPage(50)">50</button>
                        <button type="button" class="btn btn-success" (click)="changeItemsPerPage(100)">100</button>
                    </div>
                </div>
            </div>


        </div>
    </div>

</section>
